<link rel="import" href="../polymer/polymer.html"/>
<link rel="import" href="../iron-resizable-behavior/iron-resizable-behavior.html"/>

<!--
`<cosmoz-viewinfo>` is a component to create a view with information
about available size and throttled resize events

### Usage
See demo for example usage

@group Cosmoz Elements
@element cosmoz-viewinfo
@demo demo/index.html
-->

<dom-module id="cosmoz-viewinfo">
	<template>
		<content></content>
	</template>
	<script type="text/javascript" src="../css-element-queries/src/ResizeSensor.js"></script>
	<script type="text/javascript" src="cosmoz-viewinfo.js"></script>
</dom-module>