<dom-module id="template-selector">
	<script>
		/*global Polymer*/
		"use strict";
Polymer({

	is: 'template-selector',

	properties: {

		item: {
			type: Object,
			notify: true,
			observer: '_itemChanged'
		}
	},

	_groupTemplateInstance: null,

	_itemTemplateInstance: null,

	ready: function () {
		this._templatesInstances = {};
	},

	_itemChanged: function (newItem, oldItem) {
		this.fire('template-selector-item-changed', {
			selector: this,
			item: newItem
		});
	},

	renderGroup: function (template, folded) {
		if (!this._groupTemplateInstance) {
			this._groupTemplateInstance = template.instantiateTemplate();
			Polymer.dom(this).appendChild(this._groupTemplateInstance.root);
		}

		this._groupTemplateInstance.item = this.item;
		this._groupTemplateInstance.folded = folded;

		this._groupTemplateInstance._showHideChildren(false);

		if (this._itemTemplateInstance) {
			this._itemTemplateInstance._showHideChildren(true);
		}

		return  this._groupTemplateInstance;
	},

	renderItem: function (template, expanded) {
		if (!this._itemTemplateInstance) {
			this._itemTemplateInstance = template.instantiateTemplate();
			Polymer.dom(this).appendChild(this._itemTemplateInstance.root);
		}
		this._itemTemplateInstance.item = this.item;
		this._itemTemplateInstance.expanded = expanded;
		this._itemTemplateInstance._showHideChildren(false);
		if (this._groupTemplateInstance) {
			this._groupTemplateInstance._showHideChildren(true);
		}

		return this._itemTemplateInstance;
	},

	detached: function () {
		console.log('selector detached');
	}

});
	</script>
</dom-module>