<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Cosmoz i18next</title>

	<script src="../../webcomponentsjs/webcomponents-lite.js"></script>
	<link rel="import" href="../cosmoz-i18next.html">
</head>
<body>
	<template is="dom-bind" id="t">
		<cosmoz-i18next interpolation-prefix="$" interpolation-suffix="$" id="trans" translations="{{ translations }}"></cosmoz-i18next>
		<x-translatable></x-translatable>
		<div id="results"></div>
	</template>
	<dom-module id="x-translatable">
		<template>

			<h3>Simple tests</h3>
			<div>{{ _("Hello $0$", 'Patrik', t) }}</div>
			<div>{{_('key', t)}}</div>

			<h3>ngettext with all translations</h3>
  			<div>{{ngettext('I have $0$ invoice', 'I have $0$ invoices', 1, t)}}</div>
			<div>{{ngettext('I have $0$ invoice', 'I have $0$ invoices', 2, t)}}</div>


			<h3>ngettext with missing translations</h3>

   			<div>ngettext(missing singular key, missing plural key, 1):
   				<span>{{ngettext('Missing singular key $0$','Missing plural key $0$', 1, t)}}</span>
			</div>
   			<div>ngettext(missing singular key, missing plural key, 2):
   				<span>{{ngettext('Missing singular key $0$','Missing plural key $0$', 2, t)}}</span>
			</div>

   			<div>ngettext(existing singular key, missing plural key, 1):
   				<span>{{ngettext('existing singular key $0$','missing plural key default value $0$', 1, t)}}</span>
			</div>

   			<div>ngettext(existing singular key, missing plural key, 2):
   				<span>{{ngettext('existing singular key $0$','missing plural key default value $0$', 2, t)}}</span>
			</div>

			<h3>pgetttext with all translations available</h3>
			<div>pgettext(undefinedContext, 'Cancel invoice', t)}} =&gt;
				<span>{{pgettext(undefinedContext, 'Cancel invoice', t)}}</span>
			</div>

			<div>pgettext(nullContext, 'Cancel invoice', t)}} =&gt;
				<span>{{pgettext(nullContext, 'Cancel invoice', t)}}</span>
			</div>

			<div>pgettext('supplier', 'Cancel invoice', t)}} =&gt;
				<span>{{pgettext('supplier', 'Cancel invoice', t)}}</span>
			</div>


			<h3>pgettex with missing context translations</h3>
			<div>pgettext(undefinedContext, 'Approve invoice', t)}} =&gt;
				<span>{{pgettext(undefinedContext, 'Approve invoice', t)}}</span>
			</div>

			<div>pgettext(nullContext, 'Approve invoice', t)}} =&gt;
				<span>{{pgettext(nullContext, 'Approve invoice', t)}}</span>
			</div>

			<div>pgettext('supplier', 'Approve invoice', t)}} =&gt;
				<span>{{pgettext('supplier', 'Approve invoice', t)}}</span>
			</div>

			<h3>npgettext with all translations available</h3>

			<div>npgettext(nullContext, 'Cancel $0$ invoice','Cancel $0$ invoices', 1, t)}} =&gt;
				<span>{{npgettext(nullContext, 'Cancel $0$ invoice', 'Cancel $0$ invoices', 1, t)}}</span>
			</div>

			<div>npgettext(nullContext, 'Cancel $0$ invoice','Cancel $0$ invoices', 2, t)}} =&gt;
				<span>{{npgettext(nullContext, 'Cancel $0$ invoice', 'Cancel $0$ invoices', 2, t)}}</span>
			</div>

			<div>npgettext('supplier', 'Cancel $0$ invoice','Cancel $0$invoices', 1, t)}} =&gt;
				<span>{{npgettext('supplier', 'Cancel $0$ invoice', 'Cancel $0$ invoices', 1, t)}}</span>
			</div>

			<div>npgettext('supplier', 'Cancel $0$ invoice','Cancel $0$invoices', 2, t)}} =&gt;
				<span>{{npgettext('supplier', 'Cancel $0$ invoice', 'Cancel $0$ invoices', 2, t)}}</span>
			</div>

			<h3>npgettext with missing plural/context translations</h3>

			<div>npgettext(nullContext, 'Reject $0$ invoice','Reject $0$ invoices', 1, t)}} =&gt;
				<span>{{npgettext(nullContext, 'Reject $0$ invoice', 'Reject $0$ invoices', 1, t)}}</span>
			</div>

			<div>npgettext(nullContext, 'Reject $0$ invoice','Reject $0$ invoices', 2, t)}} =&gt;
				<span>{{npgettext(nullContext, 'Reject $0$ invoice', 'Reject $0$ invoices', 2, t)}}</span>
			</div>

			<div>npgettext('supplier', 'Reject $0$ invoice','Reject $0$ invoices', 1, t)}} =&gt;
				<span>{{npgettext('supplier', 'Reject $0$ invoice', 'Reject $0$ invoices', 1, t)}}</span>
			</div>

			<div>npgettext('supplier', 'Reject $0$ invoice','Reject $0$ invoices', 2, t)}} =&gt;
				<span>{{npgettext('supplier', 'Reject $0$ invoice', 'Reject $0$ invoices', 2, t)}}</span>
			</div>


		</template>
		<script type="text/javascript">
			/*global Polymer, Cosmoz*/
			Polymer({
				behaviors: [
					Cosmoz.TranslatableBehavior,
				],

				is: 'x-translatable',

				properties: {
					nullContext: {
						type: String,
						value: null
					},
					undefinedContext: {
						type: String,
						value: undefined
					}
				}


			});
		</script>
	</dom-module>
	<script type="text/javascript">
/*global document, window */
(function () {
	"use strict";
	window.addEventListener('WebComponentsReady', function () {
		var t = document.getElementById('t'),
			results = t.$.results,
			log = function log(text) {
				var el = document.createElement('div');
				el.innerHTML = text;
				results.appendChild(el);
			};

		t.translations = {
			'Hello $0$': 'Hej $0$',
			key: 'asdfkeasdfeeey',
			'existing singular key $0$': '(singular) existing singular key $0$',
			'I have $0$ invoice': '(singular) Jag har bara $0$ faktura',
			'I have $0$ invoice_plural': '(plural) Jag har faktiskt $0$ fakturor',
			'Approve invoice': '(singular) Approuver la facture',
			'Cancel invoice': '(singular) Annuler la facture',
			'Cancel invoice_supplier': '(supplier) Annuler la facture fournisseur',
			'Cancel $0$ invoice': '(no context, singular) Cancel this invoice',
			'Cancel $0$ invoice_plural': '(no context, plural)  Cancel these $0$ invoices',
			'Cancel $0$ invoice_supplier': '(supplier)  Cancel this supplier invoice',
			'Cancel $0$ invoice_supplier_plural': '(supplier,plural)  Cancel these $0$ supplier invoices',
			'Reject $0$ invoice': '(no context, singular)  Reject invoice'
		};

		log('translations loaded');


	});
}());
	</script>
</body>
</html>