<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Cosmoz Web Worker</title>

	<script src="../../webcomponentsjs/webcomponents-lite.js"></script>
	<link rel="import" href="../cosmoz-web-worker.html">
</head>
<body>
	<template is="dom-bind" id="t">
		<cosmoz-web-worker id="worker" on-message="handleMessage">
			<script type="text/worker" src="test.js">
				myExtraFunction('and this?');
			</script>
			<script type="text/worker">
				onmessage = function (event) {
					myExtraFunction('on message');
					console.log('work work!', event);
					postMessage(event.data);
				};
			</script>
		</cosmoz-web-worker>
		<div id="results">
		</div>
	</template>
	<script type="text/javascript">
/*global document, window */
(function () {
	"use strict";
	window.addEventListener('WebComponentsReady', function () {
		var t = document.getElementById('t'),
			results = t.$.results,
			log = function log(text) {
				var el = document.createElement('div');
				el.innerHTML = text;
				results.appendChild(el);
			},
			czWorker = document.getElementById('worker'),
			logProcess = function logProcess(text, callback) {
				log('processing "' + text + '"');
				czWorker.process({
					name: text
				}, callback);
			};

		t.handleMessage = function (event) {
			log('handling message: ' + event.detail.name);
		};

		logProcess('data 1');
		logProcess('data 2');
		logProcess('data 3');
		logProcess('data 4');
		logProcess('data 5');

		logProcess('data 6', function (response) {
			log('response: ' + response.name);
		});
	});
}());
	</script>
</body>
</html>