<link rel="import" href="../polymer/polymer.html"/>

<!--
`<cosmoz-i18next>` is a translation component based on i18next

### Usage

Use the component as a singleton to interface the i18next library.

    <cosmoz-i18next translations="{{ translations }}"></cosmoz-i18next>

@group Cosmoz Elements
@element cosmoz-i18next
@demo demo/index.html
-->


<dom-module id="cosmoz-i18next">
	<script type="text/javascript" src="../i18next/i18next.js"></script>
	<script type="text/javascript" src="cosmoz-i18next.js"></script>
</dom-module>