<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Cosmoz Grouped List</title>

	<script src="../../webcomponentsjs/webcomponents-lite.js"></script>
	<link rel="import" href="../cosmoz-grouped-list.html">
	<link rel="import" href="../../iron-flex-layout/iron-flex-layout.html"/>
	<link rel="import" href="../../iron-flex-layout/classes/iron-flex-layout.html"/>
	<style>
		.group-header {
			padding: 5px;
			background-color: #ccc;
			font-weight: bold;
		}

		.extra-content.expanded {
			display: block;
		}

		.extra-content {
			display: none;
		}

	</style>
</head>
<body unresolved>
	<template is="dom-bind" id="t">
		<div class="layout vertical fit">
			<div>
				<button id="button1">change value</button>
				<button id="button2">change outer value</button>
			</div>
			<cosmoz-grouped-list id="groupedList" data="{{ data }}" class="flex" selection-enabled>
				<item-template id="itemTemplate">
					<template>
						<div class="layout vertical" style="border-bottom: 1px solid grey;">
							<div>Outer binding: <span>[[outerValue]]</span></div>
							<div>Id: <span>{{item.id}}</span></div>
							<div>Name: <span>{{item.name}}</span></div>
							<div>Value: <span>{{item.value}}</span></div>
							<div on-tap="toggleCollapse">[+]</div>
							<div class$="{{_computeExtraContentClass(expanded)}}">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis posuere turpis, quis commodo neque. Aenean dapibus consequat dolor, et vestibulum enim volutpat a. Donec vel dui at diam tristique condimentum dapibus ac elit. Sed consequat nibh id nibh posuere egestas. Phasellus blandit convallis tellus, nec pharetra orci viverra ut. In at arcu consectetur, tempus velit sit amet, congue diam. Suspendisse potenti. In ac tristique nulla, quis elementum nisi.
							</div>
						</div>
					</template>
				</item-template>
				<item-template id="groupTemplate">
					<template>
						<div class="horizontal layout center group-header" on-tap="groupSelected">
							<div class="flex">[[item.name]]</div>
							<div>[[ item.items.length ]]</div>
							<iron-icon icon="[[ getFoldIcon(folded) ]]"></iron-icon>
						</div>
					</template>
				</item-template>
			</cosmoz-grouped-list>
		</div>

	</template>
	<script type="text/javascript">
/*global document, window */
(function () {
	"use strict";
	window.addEventListener('WebComponentsReady', function () {
		var
			template = document.getElementById('t'),
			groupedList = document.getElementById('groupedList'),
			button1 = document.getElementById('button1'),
			button2 = document.getElementById('button2'),
			data = [],
			group,
			itemsCount,
			i,
			j,
			n = 0;

		for (i = 0; i < 50; i += 1) {
			group = {
				name: 'Group ' + i,
				items: []

			};
			itemsCount = i * 2  + 1;
			for (j = 0; j < itemsCount; j+= 1) {
				group.items.push({
					id: n,
					name: group.name + ' item ' + j,
					value: 0
				});
				n += 1;
			}
			data.push(group);

		}

		template.groupSelected = function (event) {
			groupedList.toggleFold(event.model);

		};

		template.getFoldIcon = function (folded) {
			if (folded) {
				return 'expand-more';
			}
			return 'expand-less';
		};

		template.toggleCollapse = function (event) {
			groupedList.toggleCollapse(event.model.item);
		};

		template._computeExtraContentClass = function (expanded) {
			return expanded ? 'extra-content expanded' : 'extra-content';
		};

		button1.addEventListener('click', function () {
			console.log('click');
			var i, j, group, item;
			template.set('data.0.items.0.value', data[0].items[0].value + 1);
		});
		button2.addEventListener('click', function () {
			template.outerValue += 1;
		});

		template.outerValue = 0;
		template.data = data;

	});
}());
	</script>
</body>
</html>