<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Cosmoz Viewinfo</title>

	<script src="../../webcomponentsjs/webcomponents-lite.js"></script>
	<link rel="import" href="../cosmoz-viewinfo.html">
	<link rel="import" href="x-viewinfo.html">

	<style>
		cosmoz-viewinfo {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
	</style>


</head>
<body class="fullbleed layout vertical">
	<template is="dom-bind" id="template">
		<cosmoz-viewinfo>
			<x-viewinfo label="page 1">Page 1</x-viewinfo>
		</cosmoz-viewinfo>
	</template>
</body>
</html>