<link rel="import" href="../polymer/polymer.html"/>

<!--
`<cosmoz-web-worker>` is a component to easily create Web Workers

### Usage

    <cosmoz-web-worker on-message="handleMessage">
      <script type="text/worker">
        onmessage = function (event) {
            console.log('work work!', event);
            postMessage(event.data);
        }
      </script>
    </cosmoz-web-worker>

@group Cosmoz Elements
@element cosmoz-web-worker
@demo demo/index.html
-->

<dom-module id="cosmoz-web-worker">
	<script type="text/javascript" src="cosmoz-web-worker.js"></script>
</dom-module>